/* https://color.adobe.com/colors-Odin-color-theme-20201270/ COLORES PARA LA PAGINA DE ODIN
    https://emojiterra.com/es/animales/*/

*{
    margin: 0%;
    padding: 0%;
    font-family: arial, helvetica;
}
